.home{
   padding-bottom: 5rem;
   position: relative;
   z-index: 2;
   transition: 0.3s ease-in-out;
}
.showcase{
   display: flex; 
   align-items: center;
   padding-top: 5rem;
   img{
      width: 32rem;
   }
   .icons{
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      i{
         padding-top: 1.5rem;
         cursor: pointer;
         transition: 0.3s ease-in-out;
         &:hover{
            transform: scale(1.3)
         }
      }
      a{
         color: black;
      }
   }
   .highlight{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .showcase-left{
         margin-left: 5rem;
         margin-top: -1.2rem;
         h1{
            font-size: 4.2rem;
            margin-left: -0.2rem;
         }
         .frontend{
            font-size: 1.2rem;
            margin-top: -0.8rem;
            margin-bottom: 1rem;
         }
         .desc{
            font-size: 1rem;
         }
         .showcase-buttons{
            margin-top: 2rem;
            a{
               font-size: 0.9rem;
               text-decoration: none;
               padding: 0.5rem 1.3rem;
               border-radius: 30px;
               &:hover{
                  opacity: 0.9;
               }
            }
            .project-btn{
               background-color: #6C55E1;
               color: white;
            }
            .about-btn{
               background-color: white;
               color: black;
               box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
               margin-left: 10px;
            }
         }
      }
      .showcase-right{
         margin-left: 1.5rem;
         margin-right: -2rem;
      }
   }
}
.mouse-container{
   max-width: 75%;
   margin: 0 auto;
   margin-top: -3rem;
}
.mouse{
   width: 1.6rem;
   animation: move 1s infinite alternate;
}
.mouse-white{
   display: none;
}
.backdrop-right-home{
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
   margin-top: -3rem;
}
.backdrop-left-home{
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   margin-bottom: -4rem;
   width: 15rem;
}
.dev-bg{
   position: absolute;
   top: 0;
   left: 0;
   margin-top: -2rem;
   z-index: -5;
}
.graphics-bg{
   position: absolute;
   top: 20%;
   left: 20%;
   opacity: 0.5;
   z-index: -5
}
@keyframes move {
   from{
      transform: translateY(0);
   }
   to{
      transform: translateY(20px);
   }
}